<div class="layout-wrapper" *ngIf="!isLoginOrEmptyRoute()">
  <!-- Navbar -->
  <div class="navbar" >
    <button pButton type="button" class="p-button" icon="pi pi-bars" (click)="toggleSidebar()"></button>
    <img src="../assets/Group-27.png" alt="Logo" class="logo">
  </div>

  <!-- Layout Principal -->
  <div class="main-layout" >
    <!-- Menu Lateral (Sidebar) -->
    <div class="sidebar" [ngClass]="{'active': isSidebarVisible}">
      <p-panelMenu [model]="menuItems" styleClass="menu-style" ></p-panelMenu>
    </div>

    <!-- Conteúdo Principal -->
    <div class="content">
      
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<router-outlet *ngIf="isLoginOrEmptyRoute()"></router-outlet>
<!-- <router-outlet></router-outlet> -->