<p-dialog header="Adicionar Usuário" (onShow)="onShowDialog()"  [(visible)]="display" [modal]="true" [style]="dialogStyle" [closable]="true" (onHide)="onDialogHide()" aria-label="Diálogo para adicionar usuário">
  <div class="dialog-content">

    <div class="field">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="emailUsuario" pInputText placeholder="Digite seu email" required aria-label="Campo para digitar o email">
    </div>

    <div class="field">
      <label for="perfil">Perfil</label>
      <p-dropdown [options]="perfis" [(ngModel)]="selectedPerfil" placeholder="Selecione um perfil" aria-label="Seleção de perfil"></p-dropdown>
    </div>

    <div class="button-group">
      <button pButton type="button" label="Cancelar" class="p-button-danger" icon="pi pi-times" (click)="onCancel()" aria-label="Botão para cancelar"></button>
      <button pButton type="button" label="Salvar" class="p-button-primary" icon="pi pi-check" (click)="onSave()" aria-label="Botão para salvar"></button>
    </div>
  </div>
</p-dialog>
